.blanketright{
    
    float: right;
    margin-right: 200px;
    
    
}
.blanketleft{
    width: 100%;
    height: 70vh;
    background-image: url(../assets/blanket_final2.png);
    background-size: cover;
    background-repeat: no-repeat;
}




.blanketright #checkout{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: red;
    height: 50px;
    width: 400px;
    color:white;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    margin-top: 30px;
    
}
.blanketright #checkout:hover{
    background-color: #ff2147;
    cursor: pointer;
    transition: 0.3s ease-in;
    color: black;
    box-shadow: 2px 2px 5px white; 
}