
@font-face {
  font-family: Wallington-Regular;
  src:  url(../fonts/Wallington-Regular.ttf);
  
}
@font-face {
  font-family: Voga-Medium;
  src:  url(../fonts/Voga-Medium.ttf);
  
}
.navbar {
  background: linear-gradient(90deg, white 0%, rgb(250, 245, 245) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 5;
  /*font-family: 'PT Sans Caption', sans-serif;*/
}

.navbar-logo {
  color: black;
  
  width: 30rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  margin-left: 20px;
  align-items: center;
  font-family: "Wallington-Regular" !important;
}



.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 6rem;
 
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  
}

.nav-links:hover {
  background-color:#ff2147;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-in;
  color: cornsilk;
  box-shadow: 2px 2px 5px black;
}

.fa-bars {
  color: black;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: red;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: black;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: whitesmoke;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: gey;
    color: red;
    transition: 250ms;
  }

  button {
    display: none;
  }
}

/*
.navbar {
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    flex-direction: row;
  }
  
  .navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 60px;
  }
  
  .navbar .leftSide img {
    width: 100px;
  }

  .navbar .rightSide img {
    width: 50px;
  }
  
  .navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar .rightSide a{
    margin-left: 20px;
    margin-right: 20px;
  }
  
  @font-face {
    font-family: Wallington-Regular;
    src:  url(../fonts/Wallington-Regular.ttf);
    
  }
  @font-face {
    font-family: Voga-Medium;
    src:  url(../fonts/Voga-Medium.ttf);
    
  }
  .navbar .leftSide .PD{
    font-family: Wallington-Regular;
    font-size: 20px;
    
    white-space: nowrap;
    overflow: hidden;
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
    padding-right: 2px;
    font-size: 15px;

    white-space: nowrap;
    overflow: hidden;
   
  }
  
  .navbar .rightSide #navtoggle {
    background-color: transparent;
    border: red solid 2px;
    color: black;
    cursor: pointer;
  }
  
  .navbar .rightSide svg {
    font-size: 40px;
  }
  .navbar .rightSide #dnb{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: red;
    height: 50px;
    width: 170px;
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
  }
  .navbar .rightSide #dnb:hover {
    background-color: #ff2147;
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: none;
  }
  .navbar #open .PD{
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 100px;
      font-size: 15px;
     
    }
    .navbar .leftSide {
      padding-left: 50px;
    }

   
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide #navtoggle {
      display: inherit;
      margin-right: -30px;
    }
    .navbar .rightSide .seperate{
      display:none;
    }
    .navbar .rightSide img{
      display: none;
    }
    .hiddenLinks a{
      font-size: 12px;
     
     
     
    }
    .navbar{
      height: 80px;
    }
    .navbar .leftSide img{
      margin-left: -50px;
    }
    .hiddenLinks{
    
      margin-left:-10px !important;
    }
    
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide #navtoggle {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }
  */

